<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "roda.jorgefiliperiberio.com"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Roleta da Sorte</name>

    <description>
        Roleta da Sorte
    </description>

    <author href="https://jorgefiliperibeiro.com" email="jfrmarket@gmail.com">
        JFR
    </author>
	<preference name="orientation" value="landscape" />
	
	<icon src="icon.png" />
</widget>