@charset "utf-8";

#flyer{
	
	width: 300px;
	height: 280px;
	background-image: url(img.png);
	background-repeat: no-repeat;
	float: right;
	
	}
	
.img{
	
	float: left;
	margin: 0px;
	
	}

#nomes{
	border: 1px solid #443344;
	width: 330px;
	float:left;
	height : 280px; 
	}
	
#quest{
	border: 1px solid #000000;
	width: 330px;
	float:left;
	height : 280px;
	background-color: #9cff00;
	color: #000000;
	font-size: 60px; 
	}
#flyerText{
	
	float: right;
	width: 630px;
	margin-left: 2px;
	
	
	}
	
#imgFlyer{
	
	float: left;
	width: 300px;
	
	}
	
.namedivmira{
	
	background-color:#b700fb;
	height: 83px;
	padding: 5px;
	
	}
	
.namedivmi{
	
	background-color:#abfb00;
	height: 83px;
	padding: 5px;
	
	}
	
.namedivjoto{
	
	background-color:#fb8e00;
	height: 83px;
	padding: 5px;
	
	}

#content{
	padding-bottom: 10px;
	background-color: #ffffff;
	height:: 400px;
	}	
	
.btn{
	
	padding: 5px;
	border-radius: 30px;
	background-color: #013300;
	color: #ffffff;
	border : 2px solid #ffffff;
	float : left; 
	width: 50px; 
	margin : 5px; 
	height: 50px;
	font-size: 20px;
	text-align: center;
	
	}

#rodacontent{
	height : 260px; 
	width: 100px;
	float: left;
	background-color: #cccccc;
	margin-right: 10px;
	padding : 10px; 
	border: solid 1px #000000;
	}
	
#rodarbtn{
	
	border-radius: 40px;
	background-color: #013300;
	margin-top: 5px; 
	height: 80px;
	text-align: center;

	}
	
#roda{
	
	margin: 10px;
	padding : 10px; 
	background-color: #013300;
	color: #9cff00;
	font-size: 22px;
	height: 140px;
	text-align:center;
	}	
	
#resp{
	
	margin-left: 10px;
	width: 200px;
	
	}